---
import Wait from './Wait.astro'
import Dots from './Dots.astro'
---

<Wait ms={3000} /><br />
<i>Preparando modos mentales<Dots ms={1500} /></i><Wait ms={250} />
<br />&#9;<i>high-thinking</i>&#9;<strong>ACTIVADO</strong><Wait ms={300} />
<br />&#9;<i>el don</i>&#9;<strong>ACTIVADO</strong><Wait ms={300} />
<br />&#9;<i>modo noche</i>&#9;<strong>ACTIVADO</strong><Wait ms={300} />
<br />&#9;<i>aura ampliada</i>&#9;<strong>ACTIVADO</strong><Wait ms={300} />
<br /><i>Inicializando búsqueda<Dots ms={900} /></i><Wait ms={300} />
<Wait ms={310} /><br /><span class="text-gray-300"
  >/universo/maestros/<span class="text-lightblue">fritura.txt</span></span
>:<span class="text-green-4"><strong> OK</strong></span>
<Wait ms={310} /><br /><span class="text-gray-300"
  >/usuarios/mentales/secreto/<span class="text-lightblue">infra.md</span></span
>:<span class="text-green-4"><strong> OK</strong></span>
<Wait ms={310} /><br /><span class="text-gray-300"
  >/tierra/latam/poesía/<span class="text-lightblue">actualidad.docx</span>:</span
>
<br /><span>&#9;Heuristics.Verse.ContainsMacros</span>&#9;<span class="bg-amber text-black p-x-1">ENCONTRADO</span>
<Wait ms={310} /><br /><span class="text-gray-300"
  >/tierra/latam/poesía/<span class="text-lightblue">actualidad.docx</span></span
>:<span class="text-red-6"> <strong> Eliminado.</strong></span>
<Wait ms={310} /><br /><span class="text-gray-300"
  >/simulacro/1/chile/sol/árboles/<span class="text-lightblue">mar.odt</span>:</span
><span class="text-green-4"><strong> OK</strong></span>
<Wait ms={310} /><br /><span class="text-gray-300"
  >/simulacro/2/nubia/océano/<span class="text-lightblue">pubis.odt</span>:</span
><span class="text-green-4"><strong> OK</strong></span>
<Wait ms={310} /><br /><span class="text-gray-300"
  >/simulacro/3/RRSS/<span class="text-lightblue">poemitas.jpg</span></span
>
<br /><span>&#9;Exploit.Image.EmbeddedScript</span>&#9;<span class="bg-amber text-black p-x-1">ENCONTRADO</span>
<Wait ms={310} /><br /><span class="text-gray-300"
  >/simulacro/3/RRSS/<span class="text-lightblue">poemitas.jpg</span>:</span
><span class="text-red-6"> <strong> Eliminado.</strong></span>
<Wait ms={310} /><br /><span class="text-gray-300">/cielo/bar/<span class="text-lightblue">deliro.mp3</span></span><span
  class="text-green-4"><strong> OK</strong></span
>
<Wait ms={310} /><br /><span class="text-gray-300"
  >/infinito/interior/exterior/<span class="text-lightblue">risas.pdf</span></span
><span class="text-green-4"><strong> OK</strong></span>
<Wait ms={310} /><br /><span class="text-gray-300"
  >/vida/sueños/personal/<span class="text-lightblue">samsara.exe</span>:</span
>
<br /><span>&#9;Nadaist.Trojan.Agent-X-504</span>&#9;<span class="bg-amber text-black p-x-1">ENCONTRADO</span>
<Wait ms={310} /><br /><span class="text-gray-300"
  >/vida/sueños/personal/<span class="text-lightblue">samsara.exe</span>:</span
><span class="text-red-6"> <strong> Eliminado.</strong></span>
<Wait ms={310} /><br /><span class="text-gray-300">/panorama/cultural/<span class="text-lightblue">*</span>:</span><span
  >&#9;OMITIDO</span
>
<Wait ms={310} /><br /><span class="text-gray-300">/alta/pinakothek/<span class="text-lightblue">*</span>:</span><span
  >&#9;OMITIDO</span
>
<Wait ms={310} /><br /><span class="text-gray-300">/memoria/anciana/<span class="text-lightblue">*</span>:</span><span
  >&#9;OMITIDO</span
><br />
Búsqueda finalizada. Removiendo elementos de SHOCK<Dots ms={900} /><Wait ms={250} />
<br />

----------- RESULTADOS SCAN -----------
<span class="prop">Virus conocidos</span>:<span class="text-pink-3"> 144,000</span>
<br /><span class="prop">Simulaciones escaneadas</span>:<span class="text-pink-3"> 8</span>
<br /><span class="prop">Planetas escaneados</span>:<span class="text-pink-3"> 33</span>
<br /><span class="prop">Archivos totales</span>:<span class="text-pink-3"> 158,464,880</span>
<br /><span class="prop">Archivos infectados</span>:<span><strong> NO FUE POSIBLE COMPUTAR</strong></span>
<br /><span class="prop">Virus eliminados</span>:<span class="text-pink-3"> 3</span>
<br /><span class="prop">Fecha de inicio</span>:<span class="text-pink-3"> 2200</span><span> a.C</span>
<br /><span class="prop">Fecha final</span>:<span class="text-pink-3"> 2025</span><span> d.C</span>

<br /><br /><span class="text-orange-600">neoenanos@sumeria</span>:~$ <Wait ms={1000} /> sudo lit install plano
