---
import Wait from './Wait.astro'
import Dots from './Dots.astro'
---

<Wait ms={3000} /><br />
<i>Preparando modos mentales<Dots ms={1500} /></i><Wait ms={250} />
<br />&#9;<i>high-thinking</i>&#9;<strong>ACTIVADO</strong><Wait ms={300} />
<br />&#9;<i>el don</i>&#9;<strong>ACTIVADO</strong><Wait ms={300} />
<br />&#9;<i>modo noche</i>&#9;<strong>ACTIVADO</strong><Wait ms={300} />
<br />&#9;<i>aura ampliada</i>&#9;<strong>ACTIVADO</strong><Wait ms={300} />
<br /><i>Inicializando búsqueda<Dots ms={900} /></i><Wait ms={300} />
<Wait ms={310} /><br /><span class="text-gray-300"
  >/universo/maestros/<span class="text-lightblue">fritura.txt</span></span
>:<span class="text-green-4"><strong> OK</strong></span>
<Wait ms={310} /><br /><span class="text-gray-300"
  >/usuarios/mentales/secreto/<span class="text-lightblue">infra.md</span></span
>:<span class="text-green-4"><strong> OK</strong></span>
<Wait ms={310} /><br /><span class="text-gray-300"
  >/tierra/latam/poesía/<span class="text-lightblue">actualidad.docx</span>:</span
>
<br /><span class="text-red-7">&#9;Heuristics.Verse.ContainsMacros</span>&#9;<span class="bg-amber text-black p-x-1"
  >ENCONTRADO</span
>
<Wait ms={310} /><br /><span class="text-gray-300"
  >/tierra/latam/poesía/<span class="text-lightblue">actualidad.docx</span></span
>:<span class="text-red-6"> <strong> Eliminado.</strong></span>
<Wait ms={310} /><br /><span class="text-gray-300"
  >/simulacro/1/chile/sol/árboles/<span class="text-lightblue">mar.odt</span>:</span
><span class="text-green-4"><strong> OK</strong></span>
<Wait ms={310} /><br /><span class="text-gray-300"
  >/simulacro/2/nubia/océano/<span class="text-lightblue">pubis.odt</span>:</span
><span class="text-green-4"><strong> OK</strong></span>
<Wait ms={310} /><br /><span class="text-gray-300"
  >/simulacro/3/RRSS/<span class="text-lightblue">poemitas.jpg</span></span
>
<br /><span class="text-red-7">&#9;Exploit.Image.EmbeddedScript</span>&#9;<span class="bg-amber text-black p-x-1"
  >ENCONTRADO</span
>
<Wait ms={310} /><br /><span class="text-gray-300"
  >/simulacro/3/RRSS/<span class="text-lightblue">poemitas.jpg</span>:</span
><span class="text-red-6"> <strong> Eliminado.</strong></span>
<Wait ms={310} /><br /><span class="text-gray-300">/cielo/bar/<span class="text-lightblue">deliro.mp3</span></span><span
  class="text-green-4"><strong> OK</strong></span
>
<Wait ms={310} /><br /><span class="text-gray-300"
  >/infinito/interior/exterior/<span class="text-lightblue">risas.pdf</span></span
><span class="text-green-4"><strong> OK</strong></span>
<Wait ms={310} /><br /><span class="text-gray-300"
  >/vida/sueños/personal/<span class="text-lightblue">samsara.exe</span>:</span
>
<br /><span class="text-red-7">&#9;Nadaist.Trojan.Agent-X-504</span>&#9;<span class="bg-amber text-black p-x-1"
  >ENCONTRADO</span
><Wait ms={310} /><br /><span class="text-gray-300"
  >/vida/sueños/personal/<span class="text-lightblue">samsara.exe</span>:</span
><span class="text-red-6"> <strong> Eliminado.</strong></span>
<Wait ms={310} /><br /><span class="text-gray-300">/panorama/cultural/<span class="text-lightblue">*</span>:</span><span
  >&#9;<strong>OMITIDO</strong></span
><Wait ms={310} /><br /><span class="text-gray-300">/alta/pinakothek/<span class="text-lightblue">*</span>:</span><span
  >&#9;<strong>OMITIDO</strong></span
><Wait ms={310} /><br /><span class="text-gray-300">/memoria/anciana/<span class="text-lightblue">*</span>:</span><span
  >&#9;<strong>OMITIDO</strong></span
>
<br /><br /><span>Búsqueda finalizada.</span>
<span>
  Removiendo elementos de SHOCK<Dots ms={900} /><Wait ms={250} />
</span>
<br />

----------- <span class="bg-amber text-black p-x-1">RESULTADOS SCAN</span> -----------
<span class="prop">Virus conocidos</span>:<span class="text-pink-3"> 144,000</span>
<br /><span class="prop">Simulaciones escaneadas</span>:<span class="text-pink-3"> 8</span>
<br /><span class="prop">Planetas escaneados</span>:<span class="text-pink-3"> 33</span>
<br /><span class="prop">Archivos totales</span>:<span class="text-pink-3"> 158,464,880</span>
<br /><span class="prop">Archivos infectados</span>:<span><strong> NO FUE POSIBLE COMPUTAR</strong></span>
<br /><span class="prop">Virus eliminados</span>:<span class="text-pink-3"> 3</span>
<br /><span class="prop">Fecha de inicio</span>:<span class="text-pink-3"> 2200</span><span> a.C</span>
<br /><span class="prop">Fecha final</span>:<span class="text-pink-3"> 2025</span><span> d.C</span>

<br /><br /><span class="text-orange-600">neoenanos@sumeria</span>:~$ <Wait ms={1000} /> sudo lit install plano
<span
  >[<span class="text-orange">sudo</span>] contraseña para neoenanos:<Wait ms={100} />
  <Dots ms={250} l={9} str="*" noise={true} />
</span>
<br />
<br /><span>Leyendo lista de placeres... <span class="text-green-5">Hecho</span></span>
<Wait ms={100} /><br /><span>Creando árbol de dependencias... <span class="text-green-5">Hecho</span></span>
<Wait ms={100} /><br /><span>Leyendo información de la materia humana... <span class="text-green-5">Hecho</span></span>
<br />
<Wait ms={100} /><br /><span>Se instalarán los siguientes nuevos placeres:</span>
<Wait ms={100} /><br /><span class="text-blue-6">&#9;<i>cadencia trance príncipal plano</i></span>
<Wait ms={100} /><br /><span>Placeres sugeridos:</span>
<Wait ms={100} /><br /><span class="text-blue-6">&#9;<i>densura</i></span>
<Wait ms={100} /><br /><span>Los siguientes placeres se pueden actualizar:</span>
<Wait ms={100} /><br /><span class="text-blue-6">&#9;<i>literatura</i></span>
<Wait ms={100} /><br /><span>Ejecute <span class="text-green-6">«lit --interpretar tablas»</span> para verlos.</span>
<br />
<Wait ms={100} /><br /><span
  >Los paquetes indicados a continuación se instalaron de forma remota y automática en un tiempo pasado y ya no son <span
    >necesarios:</span
  ></span
>
<Wait ms={100} /><br /><span class="text-blue-6">&#9;verso prosa narrativa ensayo sucesos</span>
<Wait ms={100} /><br /><span>Ejecute <span class="text-green-6">«sudo lit autolaxante»</span> para eliminarlos.</span>
<br />
<Wait ms={100} /><br /><span>0 actualizados, 4 nuevos se instalarán, 0 para eliminar y 1 no actualizados.</span>
<Wait ms={100} /><br /><br /><span>Se necesita descargar 14.9 choclones extras para completar el delirio.</span>
<Wait ms={100} /><br /><span>Se utilizarán 396,000m de espacio-tiempo adicionales después de esta operación.</span>
<Wait ms={100} /><br /><br /><span>¿Desea continuar? [S/n]<Wait ms={200} /> s</span>
<br /><br /><span class="text-gray"
  >Descargando: 1 <a href="https://elversomurio.cl">https://elversomurio.cl</a> noble/universo plano [10.4cH]</span
><Dots ms={200} />
<br /><span class="text-gray"
  >Descargando: 2 <a href="https://elversomurio.cl">https://cl.archive.ubuntu.com/</a> sutil/tierra cadencia [1.4cH]</span
><Dots ms={200} />
<br /><span class="text-gray"
  >Descargando: 3 <a href=" https://neoenanos">https://neoenanos.cl/iracular</a> sentido/mental trance [2.0cH]</span
><Dots ms={200} />
<br /><span class="text-gray"
  >Descargando: 4 <a href="https://elversomurio.cl">https://planisterio.cl/divino</a> leche/espuma príncipal [1.1cH]</span
><Dots ms={200} />
<br />
<br /><span>Descargados 14.9 cH en 0s (207 cH/s)</span>
<br /><span>Seleccionando el infinito plano previamente no seleccionado.</span>
<br /><span>Leyendo la base de infras</span><Dots ms={200} />
<br /><span>Preparando para desempaquetar ../plano_2.0.25.sex</span><Dots ms={200} />
<br /><span>Desempaquetando plano (2.0.25)</span><Dots ms={200} />
<br /><span>Configurando plano (2.0.25)</span><Dots ms={200} />
<br /><span>Procesando disparadores para tierra-humanidad (0.0.1)</span><Dots ms={200} />
<br /><span>Seleccionando los placeres fundamentales.</span>
<br /><span>Leyendo el origen del universo</span><Dots ms={200} />
<br /><span>Preparando para desempaquetar ../partícula_dios_4.0.4.sex</span><Dots ms={200} />
<br /><span>Desempaquetando partícula_dios (4.0.4)</span><Dots ms={200} />
<br /><span>Configurando partícula_dios (4.0.4)</span><Dots ms={200} />
<br /><span>Procesando disparadores para nube-nueva-vida (1.0.1)</span><Dots ms={200} />
<br />
<br /><span><strong>Los placeres solicitados se han instalado correctamente.</strong></span>
