---
import { render } from 'astro:content'
import { getEntry } from 'astro:content'
import Landing from '~/components/Landing.astro'
import LayoutDefault from '~/layouts/LayoutDefault.astro'

const plano = await getEntry('posts', 'manifiesto-plano')

const { Content } = await render(plano!)
---

<LayoutDefault>
  <article class="prose">
    <h1 class="mb-0 pb-0">El verso está muerto.</h1>
    <p class="mt-0 pt-0">Y no basta con el verso libre.</p>

    <Content />
    <Landing />
  </article>
</LayoutDefault>
