---
import { Code } from 'astro:components'
import { getEntry, render } from 'astro:content'
import Landing from '~/components/Landing.astro'
import LayoutDefault from '~/layouts/LayoutDefault.astro'
---

<LayoutDefault>
  <article class="prose">
    <h1 class="mb-0 pb-0">El verso está muerto.</h1>
    <p class="mt-0 pt-0">Y no basta con el verso libre.</p>
    <Landing />
  </article>
</LayoutDefault>
