---
import Console from '~/components/Console.astro'
import Landing from '~/components/Landing.astro'
import LayoutDefault from '~/layouts/LayoutDefault.astro'
---

<LayoutDefault>
  <article class="prose">
    <h2 class="mt-0">Porque no basta con el verso libre.</h2>

    <Console />
    <Landing />
  </article>
</LayoutDefault>
