---
// import { getEntry, render } from 'astro:content'
import Landing from '~/components/Landing.astro'
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import Console from '~/components/Console.astro'
import { TerminalContextProvider } from 'react-terminal'

// const plano = await getEntry(
//     'posts',
//     'los-caminos-invisibles-de-la-luz'
// )

// const { Content } = await render(plano!)
---

<LayoutDefault>
  <article class="prose">
    <header>
      <h1 class="mb-0 pb-0">El verso está muerto.</h1>
      <p class="mt-0 pt-0">Y no basta con el verso libre.</p>
    </header>
    <Console />
    <!-- <Content /> -->
    <Landing />
  </article>
</LayoutDefault>
