---
import { getEntry, render } from 'astro:content'
import Firmas from '~/components/Firmas.astro'
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import { formatDate, getPosts } from '~/utils'

const { translate: t } = Astro.locals
const manifiestPost = await getEntry('spec', 'manifest')
if (!manifiestPost) {
  throw new Error('No about post found')
}
const { Content } = await render(manifiestPost)
---

<LayoutDefault>
  <header flex="~ col gap-2">
    <h1 class="post-title">
      <a class="not-prose">{manifiestPost.data.title}</a>
    </h1>
    <div class="text-3.5">
      <span>{t('posted_at')}</span>
      <time>{formatDate(manifiestPost.data.pubDate)}</time>
    </div>
  </header>
  <article class="prose text-justify">
    <Content />
    <Firmas />
  </article>
</LayoutDefault>
