---
import { getEntry } from 'astro:content'
const c1 = await getEntry('spec', 'console-1')!
c1
---

<div id="console"></div>

<script>
  import gsap from 'gsap'
  import TextPlugin from 'gsap/TextPlugin'

  gsap.registerPlugin(TextPlugin)

  const consolita = document.getElementById('console')!

  const tl = gsap.timeline()
  const l1 = print()

  tl.to(l1, { text: 'yes' }).to(l1, { text: 'yes...', repeat: 4 }).to(l1, { text: 'yes!!!' })
  br()
  const l2 = print()
  tl.to(l2, { text: 'no' }).to(l2, { text: 'no...', repeat: 4 }).to(l2, { text: 'no!!!' })

  function print() {
    const message = document.createElement('p')
    message.style = 'display: inline;'
    consolita.appendChild(message)
    consolita.scrollTop = consolita.scrollHeight
    return message
  }
  function br() {
    const message = document.createElement('br')
    consolita.appendChild(message)
    consolita.scrollTop = consolita.scrollHeight
    return message
  }
</script>

<style>
  #console {
    font-family: monospace;
    background: #000;
    border: 1px solid #444;
    padding: 10px;
    max-height: 300px;
    overflow-y: scroll;
    white-space: pre-wrap;
  }
</style>
