---
import { getEntry } from 'astro:content'
const c1 = await getEntry('spec', 'console-1')!
const console_string = c1.body?.split('\n').join('^1000\n')
---

<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js" is:inline></script>
<div id="console">
  <span id="cursor"></span>
</div>

<script define:vars={{ console_string }}>
  const consolita = document.getElementById('console')

  function scrollConsole() {
    consolita.scrollTop = consolita.scrollHeight
  }

  const _typed = new Typed('#cursor', {
    strings: [console_string],
    typeSpeed: 2,
    backSpeed: 0,
    onTypingResumed: () => {
      scrollConsole()
    },
  })
</script>

<style>
  #console {
    font-family: monospace;
    background: #000;
    border: 1px solid #444;
    padding: 10px;
    max-height: 300px;
    overflow-y: scroll;
    white-space: pre-wrap;
  }
</style>
