---
import Animation from './animation/Animation.astro'
---



<div id="console">
  <noscript><Animation isNoScript={true}/></noscript><span class="text-orange-600">neoenanos@sumeria</span><span>:~$</span>
  <span id="typed-choclo"></span>
  <span id="typed-end"></span>
  </div>
</div>


<Animation/>



<script>
  import Typed from 'typed.js'
  const strings =  [document.getElementById('log-1')!.getHTML()]

  function getTyped(container: HTMLElement){
    const consolita = document.getElementById('console')!
    function wasUserAtBottom() {
      const tolerance = 50
      return consolita.scrollTop + consolita.clientHeight >= consolita.scrollHeight - tolerance
    }

    function scrollToBottom() {
      consolita.scrollTop = consolita.scrollHeight
    }

    let atBottom = true

    return new Typed(container, {
    strings,
    typeSpeed: 1,
    contentType: 'html',

    onTypingPaused: () => {
      atBottom = wasUserAtBottom()
    },
    onTypingResumed: () => {
      if (atBottom) {
        scrollToBottom()
      }
    },
    onComplete: (self) => {
      self.stop()
      console.log(self.cursor)
      self.cursor.style = 'display: none;'
      new Typed("#typed-end", {
        loop: true,
        loopCount: Infinity,
        fadeOut: true,
        typeSpeed: 30,
        backDelay: 500,
        showCursor: false,
        strings: ['...Escuchando...', '...Escribiendo...']
      })
    }
  })
  }

  const typeContainer = document.getElementById('typed-choclo')!
  let _typed = getTyped(typeContainer)

  document.addEventListener('swup:content:replace', () => {
    _typed.destroy()
    let newTypeContainer = document.getElementById('typed-choclo')
    if(!newTypeContainer) return;
    _typed = getTyped(newTypeContainer)
  })
</script>

<style>
  #console {
    font-family: monospace;
    background: #000;
    border: 1px solid #444;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    white-space: pre-wrap;
  }
</style>
