---
import Animation from './animation/Animation.astro'
// import swup from 'swup'
// const s = new swup()
// s.hooks.on('content:replace',(vi)=>{console.log(vi)})
---



<div id="console">
  <noscript><Animation isNoScript={true}/></noscript>
  <span class="text-orange-600">neoenanos@sumeria</span><span>:~$</span>
  <span id="typed-1"></span>
  </div>
</div>


<Animation/>



<script>
  import Typed from 'typed.js'
  const strings =  [document.getElementById('log-1')!.getHTML()]

  function getTyped(container: HTMLElement){
    const consolita = document.getElementById('console')!
    function wasUserAtBottom() {
      const tolerance = 50
      return consolita.scrollTop + consolita.clientHeight >= consolita.scrollHeight - tolerance
    }

    function scrollToBottom() {
      consolita.scrollTop = consolita.scrollHeight
    }

    let atBottom = true

    return new Typed(container, {
    strings,
    typeSpeed: 1,
    fadeOut: true,
    loop: true,
    loopCount: Infinity,
    contentType: 'html',

    onTypingPaused: () => {
      atBottom = wasUserAtBottom()
    },
    onTypingResumed: () => {
      if (atBottom) {
        scrollToBottom()
      }
    },
  })
  }

  const typeContainer = document.getElementById('typed-1')!
  let _typed = getTyped(typeContainer)

  document.addEventListener('swup:content:replace', () => {
    _typed.destroy()
    let newTypeContainer = document.getElementById('typed-1')
    if(!newTypeContainer) return;
    _typed = getTyped(newTypeContainer)
  })
</script>

<style>
  #console {
    font-family: monospace;
    background: #000;
    border: 1px solid #444;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    white-space: pre-wrap;
  }
</style>
