---
import { getEntry } from 'astro:content'
const c1 = await getEntry('spec', 'console-1')!
c1
---

<div id="console">
  <span id="cursor"></span>
</div>

<script>
  import Typed from 'typed.js'

  const consolita = document.getElementById('console')!

  function scrollConsole() {
    consolita.scrollTop = consolita.scrollHeight
  }

  const typed = new Typed('#cursor', {
    strings: [
      'npm install^1000\n `installing components...` ^1000\n `Fetching from source...` `installing components...` ^1000\n `Fetching from source...` `installing components...` ^1000\n `Fetching from source...` `installing components...` ^1000\n `Fetching from source...` `installing components...` ^1000\n `Fetching from source...` `installing components...` ^1000\n `Fetching from source...`',
    ],
    typeSpeed: 40,
    backSpeed: 0,
    onTypingResumed: () => {
      scrollConsole()
    },
  })
</script>

<style>
  #console {
    font-family: monospace;
    background: #000;
    border: 1px solid #444;
    padding: 10px;
    max-height: 300px;
    overflow-y: scroll;
    white-space: pre-wrap;
  }
</style>
