---
import { Code } from 'astro:components'
import { getEntry } from 'astro:content'

const c1 = await getEntry('spec', 'console-1')!
const c2 = await getEntry('spec', 'console-2')!
const c3 = await getEntry('spec', 'console-3')!

const console_string = c1.body?.split('\n').join('^200\n')
---

<noscript
  ><Code code={c1.body!} theme={'github-dark-high-contrast'} lang={'cadence'} wrap={true} />
  <Code code={c2.body!} theme={'github-dark-high-contrast'} lang={'cadence'} wrap={true} />
  <Code code={c3.body!} theme={'github-dark-high-contrast'} lang={'cadence'} wrap={true} />
</noscript>

<div id="console">
    <span class="text-orange-600">neoenanos@sumeria</span><span>:~$ </span>
    <span id="user-input-1"></span>
    <span id="typed-1"></span>
  </div>
</div>



<template id="log-1">
<template>^3000</template><br>
<i>Preparando modos mentales^300.^300.^300.</i><template>^250</template>
&#9;<i>high-thinking</i> <strong>ACTIVADO</strong><template>^250</template>
&#9;<i>el don</i> <strong>ACTIVADO</strong><template>^250</template>
&#9;<i>modo noche</i> <strong>ACTIVADO</strong><template>^250</template>
&#9;<i>aura ampliada</i> <strong>ACTIVADO</strong><template>^250</template>
<br><i>Inicializando búsqueda^100.^100.^100.</i><template>^250</template>
<template>^310</template><br><span class="text-gray-300">/universo/maestros/total/<span class="text-lightblue">fritura.txt</span></span>:<span class="text-green-4"><strong> OK</strong></span>
<template>^310</template><br><span class="text-gray-300">/universo/usuarios/mentales/secreto/<span class="text-lightblue">infra.md</span></span>:<span class="text-green-4"><strong> OK</strong></span>
<template>^310</template><br><span class="text-gray-300">/planeta/tierra/latam/poesía/<span class="text-lightblue">actualidad.docx</span></span>:
<span>&#9;Heuristics.Verse.ContainsMacros</span>&#9;<span class="bg-amber text-black p-x-1">ENCONTRADO</span>
<template>^310</template><br><span class="text-gray-300">/planeta/tierra/latam/poesía/<span class="text-lightblue">actualidad.docx</span></span>:<span class="text-red-6"> <strong> Eliminado.</strong></span>
<template>^310</template><br><span class="text-gray-300">/simulacro/1/adentro/chile/sol/árboles/<span class="text-lightblue">mar.odt</span>:</span><span class="text-green-4"><strong> OK</strong></span>
<template>^310</template><br><span class="text-gray-300">/simulacro/2/adentro/nubia/océano/<span class="text-lightblue">pubis.odt</span>:</span><span class="text-green-4"><strong> OK</strong></span>
<template>^310</template><br><span class="text-gray-300">/simulacro/3/adentro/RRSS/<span class="text-lightblue">poemitas.jpg</span></span>
<template>^310</template><br><span>&#9;Exploit.Image.EmbeddedScript</span>&#9;<span class="bg-amber text-black p-x-1">ENCONTRADO</span>
<template>^310</template><br><span class="text-gray-300">/simulacro/3/adentro/RRSS/<span class="text-lightblue">poemitas.jpg</span>:</span><span class="text-red-6"> <strong> Eliminado.</strong></span>
<template>^310</template><br><span class="text-gray-300">/planeta/nubia/bar/mental/<span class="text-lightblue">deliro.mp3</span></span><span class="text-green-4"><strong> OK</strong></span>
<template>^310</template><br><span class="text-gray-300">/planeta/interior/exterior/infinito/<span class="text-lightblue">comedia.pdf</span></span><span class="text-green-4"><strong> OK</strong></span>
<template>^310</template><br><span class="text-gray-300">/vida/sueños/personal/<span class="text-lightblue">samsara.exe</span>:</span>
<template>^310</template><br><span>&#9;Nadaist.Trojan.Agent-X-504</span>&#9;<span class="bg-amber text-black p-x-1">ENCONTRADO</span>
<template>^310</template><br><span class="text-gray-300">/vida/sueños/personal/<span class="text-lightblue">samsara.exe</span>:</span><span class="text-red-6"> <strong> Eliminado.</strong></span>
<template>^310</template><br><span class="text-gray-300">/panorama/cultural/<span class="text-lightblue">*</span>:</span><span> OMITIDO</span>
<template>^310</template><br><span class="text-gray-300">/alta/pinakothek/<span class="text-lightblue">*</span>:</span><span> OMITIDO</span>
<template>^310</template><br><span class="text-gray-300">/memoria/anciana/<span class="text-lightblue">*</span>:</span><span> PERMISO DENEGADO</span>
<template>^310</template><br>
Búsqueda finalizada.
Removiendo elementos de SHOCK^300.^300.^300.^250

----------- RESULTADOS SCAN -----------
<span class="prop">Virus conocidos</span>:<span class="text-pink-3"> 144,000</span>
<br><span class="prop">Simulaciones escaneadas</span>:<span class="text-pink-3"> 8</span>
<br><span class="prop">Planetas escaneados</span>:<span class="text-pink-3"> 33</span>
<br><span class="prop">Archivos totales</span>:<span class="text-pink-3"> 158,464,880</span>
<br><span class="prop">Archivos infectados</span>:<span><strong> NOT POSSIBLE TO COMPUTE</strong></span>
<br><span class="prop">Virus eliminados</span>:<span class="text-pink-3"> 3</span>
<br><span class="prop">Fecha de inicio</span>:<span class="text-pink-3"> 2200</span><span> a.C</span>
<br><span class="prop">Fecha final</span>:<span class="text-pink-3"> 2025</span><span> d.C</span>

<br><br><span class="text-orange-600">neoenanos@sumeria</span>:~$ ^1000

</template>



<script >
  import Typed from 'typed.js'
  const consolita = document.getElementById('console')!

  function wasUserAtBottom() {
    const tolerance = 20
    return consolita.scrollTop + consolita.clientHeight >= consolita.scrollHeight - tolerance
  }

  function scrollToBottom() {
    consolita.scrollTop = consolita.scrollHeight
  }
  let atBottom = true

  // const _host1 = new Typed('#host-1',{
  //   showCursor: false,
  //   typeSpeed: 0,
  //   strings: [document.getElementById('host-template')!.getHTML()]
  // })
  const _userinput1 = new Typed('#user-input-1',{
    showCursor: false,
    typeSpeed: 60,
    strings: ['viruscan lit --recursive ./']
  })

  const strings =  [document.getElementById('log-1')!.getHTML()]

  const _typed = new Typed('#typed-1', {
    strings,
    typeSpeed: 1,
    backSpeed: 0,
    contentType: 'html',
        

    // PA QUE ESTO FUNCIONE HAY QUE PONER ALGUNA PAUSA QUE SEA EN LA CAGA ESA 
    onTypingPaused: () => {
      atBottom = wasUserAtBottom()
    },
    onTypingResumed: () => {
      if (atBottom) {
        scrollToBottom()
      }
    },
  })
</script>

<style>
  #console {
    font-family: monospace;
    background: #000;
    border: 1px solid #444;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    white-space: pre-wrap;
  }
</style>
