---
import { getPosts } from '~/utils'

const posts = await getPosts()
const seen: { [key: string]: boolean } = {}
const gente = posts
  .map((post) => ({
    nombre: post.data.author,
    href: `/authors/${post.data.author}`,
  }))
  .filter((item) => {
    return seen[item.nombre || ''] ? false : (seen[item.nombre || ''] = true)
  })
---

Suscriben
<div class="text-left flex flex-wrap gap-2 justify-between">
  {
    gente.map(({ href, nombre }) => (
      <a href={href} class="m-2 whitespace-nowrap firma">
        {nombre}
      </a>
    ))
  }
</div>
<script>
  document.querySelectorAll('.firma').forEach((el) => el.classList.add(`order: ${Math.floor(Math.random() * 99999)}`))
</script>
