---
import { Code } from 'astro:components'
import Firmas from './Firmas.astro'
---

<div>
  <Firmas title="Participan" filter={(a: any) => !a.data.categories.includes('Genodemia')} />
  <p>
    Revisa las secciones de <a href="/categories/Poesía">Poesía</a> y <a href="/categories/Cerebro">Cerebro</a>
    para profundizar más en el placer. Y si piensas también que el futuro de la poesía se nos viene en plano o como quieras
    llamarle a los ecos de sumeria, y tu mente es, al igual que la nuestra, un delicioso maní confitado...
    <br />
    <br /> Adhiere a esta noción enviando un texto poético o argumental a
    <a href="mailto:enano@elversomurio.cl">enano@elversomurio.cl</a> junto con el homónimo de tu persona y la información
    que encuentres pertinente o no. Se agradece el envío en formato
    <a href="https://tutorialmarkdown.com/guia">Markdown</a> y la o las categorías a las que creas que el texto pertenece:
    <span class="flex justify-right">
      <Code code=`["Poesía", "Cerebro", { etc: Infinity }]` theme={'slack-dark'} lang={'js'} inline={true} />
    </span>
  </p>
  <!-- <Firmas title="Genodemia" filter={(a: any) => a.data.categories.includes('Genodemia')} /> -->
  <p>
    <i>
      El orden en que se listan nombres y entradas es de carácter aleatorio.
      <br /> La falta de justificado es justificada.</i
    >
  </p>
</div>
